<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Navbar</a>
    <button class="navbar-toggler" [ngClass]="{'collapsed': show}" (click)="show = !show" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': show}" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create" routerLinkActive="active">Create new</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
