<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-header text-center">
      <h2>Create New Post</h2>
    </div>
    <div class="card-body">
      <input class="form-control form-control-lg mb-2" formControlName="title" type="text" placeholder="Post title">
      <textarea class="form-control form-control-lg" formControlName="body" placeholder="Post body" rows="6"></textarea>
    </div>
    <div class="card-footer">
      <button class="btn-success btn float-right" [disabled]="!postForm.valid">Create</button>
    </div>
  </div>
</form>
